<%= form_for(@team) do |f| %>
  <% if @players.count() > 1 %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :offense %><br />
      <%= collection_select(:team, :selected_offense, @players, :id, :name, :prompt => 'Select player')  %>
    </div>
    <div class="field">
      <%= f.label :defense %><br />
      <%= collection_select(:team, :selected_defense, @players, :id, :name, :prompt => 'Select player')  %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% else %>
    <p>There's not enough players. Please add some players before create teams.</p>
  <% end %>
<% end %>
