<h1>Listing teams</h1>
<% if @teams == 0 %>
    <p>There are no teams.</p>
<% else %>
    <table>
      <tr>
        <th>Id</th>
        <th>Offense</th>
        <th>Defense</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td><%= team.offense.name %></td>
        <td><%= team.defense.name %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
<% end %>

<br />

<%= link_to 'New Team', new_team_path %>
