<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @team.id %>
</p>
<p>
  <b>Name:</b>
  <%= @team.name %>
</p>
<p>
  <b>Offense:</b>
  <%= @team.offense.name %>
  <br/>
  <b>Offense Nick:</b>
  <%= @team.offense.nickname %>
</p>

<p>
  <b>Defense:</b>
  <%= @team.defense.name %>
  <br/>
  <b>Defense Nick:</b>
  <%= @team.defense.nickname %>
</p>

<%= link_to 'New', new_team_path %> |
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
