<%= form_for([@game, @score]) do |f| %>
    <div class="field">
      <%= f.label :player %><br />
      <%= scores_player_select(@game, @score, :score, :player) %>
    </div>
    <div class="field">
      <%= f.label :own_goal %>
      <%= f.check_box :own_goal %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', game_scores_path(@game) %>