<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @score.id %>
</p>

<p>
  <b>Game:</b>
  <%= @score.game.id %>
</p>

<p>
  <b>Player:</b>
  <%= @score.player.name %>
</p>

<%= link_to 'New', new_score_path %> |
<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
