<% title 'Viewing Score' %>
<h2><%= yield(:title) %></h2>
<p>
  <b>Id:</b>
  <%= @score.id %>
</p>
<p>
  <b>Game:</b>
  <%= @score.game && @score.game.id || '' %>
</p>
<p>
  <b>Player:</b>
  <%= @score.player && @score.player.name || '' %>
</p>
<p>
  <b>Own goal:</b>
  <%= @score.own_goal && 'Yes' || 'No' %>
</p>

<%= link_to 'Back to game scores', game_scores_path %>
