<h2><%= yield(:title) %></h2>
<% if @players_count >= 4 %>
    <%= form_for(@game) do |f| %>
        <div class="control-group">
          <%= f.label(:blueAttacker, 'Blue Attacker:', :class => 'control-label') %>
          <div class="controls">
            <%= player_select(@game, :blueAttacker, :id, true)%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label(:blueDefender, 'Blue Defender:', :class => 'control-label') %>
          <div class="controls">
            <%= player_select(@game, :blueDefender, :id, true)%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label(:redAttacker, 'Red Attacker:', :class => 'control-label') %>
          <div class="controls">
            <%= player_select(@game, :redAttacker, :id, true)%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label(:redDefender, 'Red Defender:', :class => 'control-label') %>
          <div class="controls">
            <%= player_select(@game, :redDefender, :id, true)%>
          </div>
        </div>
        <% unless @game.new_record? %>
            <div class="control-group">
              <%= f.label(:status, 'Status:', :class => 'control-label') %>
              <div class="controls">

                <%= select(nil,:status, GameStatusEnum.all, :html => {:name => :status})%>
              </div>
            </div>
        <% end %>
        <div class="actions">
          <%= f.submit('Save', :class => 'btn btn-success') %>
        </div>
    <% end %>
<% else %>
    <p>
      Currently there are <%= @players_count %><%= @players_count == 1 && ' player' || ' players' %>.
      There must be a minimum of 4 players before a game can be created.
    </p>
<% end %>
<%= link_to 'Back to games', games_path %>

