<% if @players_count >= 4 %>
    <%= form_for(@game) do |f| %>
        <div class="field">
          <%= f.label :blueAttacker, 'Blue Attacker:' %><br/>
          <%= player_select(@game, :game, :blueAttacker)%>
        </div>
        <div class="field">
          <%= f.label :blueDefender, 'Blue Defender:' %><br/>
          <%= player_select(@game, :game, :blueDefender)%>
        </div>
        <div class="field">
          <%= f.label :redAttacker, 'Red Attacker:' %><br/>
          <%= player_select(@game, :game, :redAttacker)%>
        </div>
        <div class="field">
          <%= f.label :redDefender, 'Red Defender:' %><br/>
          <%= player_select(@game, :game, :redDefender)%>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>
<% else %>
    <p>
      Currently there are <%= @players_count %><%= @players_count == 1 && ' player' || ' players' %>.
      There must be a minimum of 4 players before a game can be created.
    </p>
<% end %>
<%= link_to 'Back', games_path %>

