<h1>Games Resource</h1>

<% if @games.count() == 0 %>
    <p>There are no games. Would you like to <%= link_to 'create', new_game_path %> one?</p>
<% else %>
    <%= link_to 'New Game', new_game_path %>
    <br/>
    <% @games.each do |game| %>

        <h4>Game <%= game.id %></h4>

        <table>
          <tr>
            <th>Blue Attacker</th>
            <th>Blue Defender</th>
            <th>Red Attacker</th>
            <th>Red Defender</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td><%= game.blueAttacker && game.blueAttacker.name || '' %></td>
            <td><%= game.blueDefender && game.blueDefender.name || '' %></td>
            <td><%= game.redAttacker && game.redAttacker.name || '' %></td>
            <td><%= game.redDefender && game.redDefender.name || '' %></td>
            <td><%= link_to 'Score', game_scores_path(game) %></td>
            <td><%= link_to 'Show', game %></td>
            <td><%= link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </table>
    <% end %>
<% end %>