<% title 'Viewing Game' %>
<h2><%= yield(:title) %></h2>
<p>
  <b>Id:</b>
  <%= @game.id %>
</p>
<p>
  <b>Blue Attacker: </b>
  <%= @game.blueAttacker.name %>
</p>
<p>
  <b>Blue Defender: </b>
  <%= @game.blueDefender.name %>
</p>
<p>
  <b>Red Attacker: </b>
  <%= @game.redAttacker.name %>
</p>
<p>
  <b>Red Defender: </b>
  <%= @game.redDefender.name %>
</p>

<%= link_to 'Back to games', games_path %>

