<h2><%= yield(:title) %></h2>
<%= form_for(@player) do |f| %>
    <div class="control-group">
      <%= f.label(:name, :class => 'control-label') %>
      <div class="controls">
        <%= f.text_field :name, :required => '' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label(:nickname, :class => 'control-label') %>
      <div class="controls">
        <%= f.text_field :nickname, :required => '' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label(:avatar, :class => 'control-label') %>
      <div class="controls">
        <%= f.text_field :avatar, :required => '' %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit(:class => 'btn btn-success') %>
    </div>
<% end %>
<%= link_to 'Back to players', players_path %>
