<% title 'Players' %>
<h2><%= yield(:title) %></h2>
<% if @players.count() == 0 %>
    <p>There are no players. Would you like to <%= link_to 'create', new_player_path %> one?</p>
    <a title="Back to api documentation" href="/api">Back to documentation</a>
<% else %>
    <%= link_to 'Create a new player', new_player_path, :class => 'btn btn-link pull-right' %>
    <a title="Back to api documentation" href="/api">Back to documentation</a>
    <table class="table table-bordered last-with-buttons two">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Nickname</th>
        <th>Avatar</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @players.each do |player| %>
          <tr>
            <td><%= player.id %></td>
            <td><%= player.name %></td>
            <td><%= player.nickname %></td>
            <td><%= player.avatar %></td>
            <td>
              <%= link_to 'Edit', edit_player_path(player), :class => 'btn btn-mini btn-success' %>
              <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
