<% title 'Viewing Player' %>
<h2><%= yield(:title) %></h2>
<p>
  <b>Id:</b>
  <%= @player.id %>
</p>
<p>
  <b>Name:</b>
  <%= @player.name %>
</p>
<p>
  <b>Nickname:</b>
  <%= @player.nickname %>
</p>
<p>
  <b>Avatar:</b>
  <%= @player.avatar %>
</p>

<%= link_to 'Back to players', players_path %>
